@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url('./img/paint.jpeg');
    background-size: cover;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    z-index: 1;
    background-color: #fff;
    height: 84px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* Additional styles for the navbar */
}

.small-image {
    margin-left: 18%;
    /* Adjust the margin as needed */
    /* Additional styles for the small image */
}

.small-image2 {
    margin-left: 59%;
    margin-top: 50px;
    /* Adjust the margin as needed */
    /* Additional styles for the small image */
}

.menu-toggle {
    display: none;
    /* Styles for the hamburger menu toggle button */
}

.menu li.get-quote a {
    display: relative;
    padding: 15px;
    background-color: #F52485;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.menu li.get-quote a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 100%;
    border-radius: 20px 0 0 20px;

}

.hamburger {
    width: 30px;
    height: 2px;
    background-color: #cd0ac6;
    margin: 6px 0;
    transition: transform 0.3s ease-in-out;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 30px;
    margin-left: 20%;
    padding: 0;
    font-family: 'Coiny', cursive;
    /* Additional styles for the navbar menu items */
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #18256D;
    text-decoration: none;
    /* Additional styles for the navbar links */
}
.menu a:hover {
    color: #F52485;

}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
        /* Additional styles for the hamburger menu toggle button on smaller screens */
    }

    .hamburger {
        transform: rotate(0);
        transition: transform 0.3s ease-in-out;
    }

    .hamburger:before,
    .hamburger:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #e415a6;
        transition: transform 0.3s ease-in-out;
    }

    .hamburger:before {
        transform: translateY(-8px);
    }

    .hamburger:after {
        transform: translateY(8px);
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 20px;
        /* Additional styles for the navbar menu items on smaller screens */
    }

    .menu.open {
        display: flex;
        /* Additional styles when the menu is open on smaller screens */
    }
}